/* Blue theme */
// $background-color: #eeeeee;
// $base-color: #5eb5f7;
// $primary-color: #293a4c;
// $secondary-color: #17212b;

/* Dark-blue theme */
// $background-color: #17212b;
// $base-color: #5eb5f7;
// $primary-color: #293a4c;
// $secondary-color: #17212b;

/* Dark theme */
$background-color: #36393f;
$base-color: #eeeeee;
$primary-color: #202225;
$secondary-color: #3c3f45;
