/* Purple theme */
$base-color: #d3b1c2;
$primary-color: #613659;
$secondary-color: #c197d2;
$black-color: #211522;

/* Blue theme */
// $base-color: #2e8bc0;
// $primary-color: #0c2d48;
// $secondary-color: #145da0;
// $black-color: #b1d4e0;
