@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./common/colors.scss";

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
}

body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $base-color;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

