@import "../../common/colors.scss";

/* links */
.a {
	color: $base-color;
}

.none {
	display: none;
}

.block {
	display: block;
}

/* header */
.Header {
	background-color: $primary-color;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100vw;
	z-index: 3;
	top: 0;
	min-width: 300px;

	.logo {
		display: block;
		float: left;
		font-size: 2em;
		padding: 10px 20px;
		text-decoration: none;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		background-color: $primary-color;

		li .a {
			display: block;
			padding: 20px 20px;
			border-right: 1px solid $primary-color;
			text-decoration: none;
		}

		li .a:hover,
		.menu-btn:hover {
			background-color: $secondary-color;
		}
	}
}

/* menu */

.Header .menu {
	clear: both;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

/* Dropdown menu */
.dropbtn {
	margin: 0;
	font-size: 16px;
	cursor: pointer;
	background-color: transparent;
	color: $base-color;
}

.dropdown {
	color: $base-color;
	display: inline-block;
}

.dropdown-content {
	color: $base-color;
	top: 60px;
	right: 0;
	position: absolute;
	background-color: $primary-color;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

// .dropdown:hover .dropdown-content {
// 	display: block;
// }

/* menu icon */
.Header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;

	.navicon {
		background: $base-color;
		display: block;
		height: 2px;
		position: relative;
		transition: background 0.2s ease-out;
		width: 18px;
	}

	.navicon:before,
	.navicon:after {
		background: $base-color;
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		transition: all 0.2s ease-out;
		width: 100%;
	}

	.navicon:before {
		top: 5px;
	}

	.navicon:after {
		top: -5px;
	}
}

/* menu btn */
.Header {
	.menu-btn {
		display: none;
	}

	.menu-btn:checked ~ .menu {
		max-height: 480px;
	}

	.menu-btn:checked ~ .menu-icon .navicon {
		background: transparent;
	}

	.menu-btn:checked ~ .menu-icon .navicon:before {
		transform: rotate(-45deg);
	}

	.menu-btn:checked ~ .menu-icon .navicon:after {
		transform: rotate(45deg);
	}

	.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
	.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
		top: 0;
	}
}

/* 48em = 768px */
@media (min-width: 48em) {
	.Header li {
		float: left;
	}
	.Header li .a {
		padding: 20px 30px;
	}
	.Header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.Header .menu-icon {
		display: none;
	}
}

@media (max-width: 48em) {
	.Header {
		overflow-y: auto;
	}
	.dropdown-content {
		left: 0;
		top: 354px;
	}
}

